@model IEnumerable<Customer_06_06_23_entity_loan_.Models.Customer>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Cusname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LoanStartdate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LoanDuedate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Principle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RateOfInterest)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NoOfYears)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CalculatedAmount)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Cusname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LoanStartdate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LoanDuedate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Principle)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RateOfInterest)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NoOfYears)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CalculatedAmount)
                </td>
                
            </tr>
        }
    </tbody>
</table>
