@model Customer_06_06_23_entity_loan_.Models.Customer

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Customer</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cusname)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cusname)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LoanStartdate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LoanStartdate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LoanDuedate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LoanDuedate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Principle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Principle)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RateOfInterest)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RateOfInterest)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NoOfYears)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NoOfYears)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CalculatedAmount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CalculatedAmount)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
